body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    gap: 5vw;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 10vh;
    height: 10vh;
    border: 2px solid black;
    border-radius:16px;

    font-size: 48px;
}